<p id="notice"><%= notice %></p>

<h3 class="center-align header"><%= @course.code %>: <%= @course.name %> </h3>


<p class="text-muted">
  <%= @course.description %>
</p>

<p class="text-muted">
  <strong>Start date:</strong>
  <%= @course.start_date.to_date.to_formatted_s(:long) %><br>
  <strong>End date:</strong>
  <%= @course.end_date.to_date.to_formatted_s(:long) %>
</p>

<div class="center-align">
  <a class="waves-effect waves-light btn-large"><i class="material-icons left">fingerprint  </i>Enroll Now</a>
</div>
